<div id="claimModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">مبروك نقاطك مكنتك من الحصول على هذه الهدية</h2>
  <p class="lead">ضع رقم تليفونك وسيقوم احد عملائنا بالاتصال بك</p>
  <div class="text-center"><input type="text" /></div>
  <div class="text-left">
    <a class="button success" aria-label="Close">استلم هديتك</a>
  </div>

</div>

<div id="noClaimModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">نقاطك الحالية لا تسمح لك باستلام هذه الهدية</h2>
  <p class="lead">حاول اعادة اللعب مرة اخرى لزيادة نقاطك</p>
    <div class="text-center">
    <%=link_to select_category_home_index_path do %>
      <div class="button success center"><i class="fa fa-refresh"></i>  اعادة المحاولة</div>
    <%end%>
    </div>
</div>
<div class="row centered-row game-over">
    لقد اجبت عن ثلاثة اسئلة خطأ .. حاول مرة اخرى
    <%=image_tag("gameover.jpeg")%>
</div>
<div class="row centered-row game-over-actions">
  <%=link_to select_category_home_index_path do %>
  <div class="right button success"><i class="fa fa-refresh"></i>  اعادة المحاولة</div>
  <%end%>

  <%=link_to share_score_home_index_path, :remote => true do %>
      <div class="left button alert"><i class="fa fa-share-square-o"></i>  شارك درجتك</div>
  <%end%>
</div>
<div class="row well">
<div class="row prize-title">
  اختر هديتك
</div>
<div class="row prizes-container">
  <div class="small-2 columns prize well">
    <div class="name">
      10 جنيه رصيد
    </div>
    <div class="image">
      <%=image_tag("credit.png")%>
    </div>
    <div class="points">
      200 نقطة
    </div>
    <% if @user.score >= 200
         can_claim= true
       else
         can_claim = false
       end%>
    <div class="claim">
      <a href="#" class="button <%=can_claim ? 'success' : 'alert disabled'%>" data-reveal-id="<%=can_claim ? 'claimModal' : 'noClaimModal'%>">استلم هديتك</a>
    </div>
  </div>

  <div class="small-2 columns prize well">
    <div class="name">
      20 جنيه رصيد
    </div>
    <div class="image">
      <%=image_tag("credit.png")%>
    </div>
    <div class="points">
      500 نقطة
    </div>
    <% if @user.score >= 500
         can_claim= true
       else
         can_claim = false
       end%>
    <div class="claim">
      <a href="#" class="button <%=can_claim ? 'success' : 'alert disabled'%>" data-reveal-id="<%=can_claim ? 'claimModal' : 'noClaimModal'%>">استلم هديتك</a>
    </div>
  </div>

  <div class="small-2 columns prize well">
    <div class="name">
      يو اس بى مودم
    </div>
    <div class="image">
      <%=image_tag("usb-modem.png")%>
    </div>
    <div class="points">
      1000 نقطة
    </div>
    <% if @user.score >= 1000
        can_claim= true
    else
        can_claim = false
    end%>
    <div class="claim">
      <a href="#" class="button <%=can_claim ? 'success' : 'alert disabled'%>" data-reveal-id="<%=can_claim ? 'claimModal' : 'noClaimModal'%>">استلم هديتك</a>
    </div>
  </div>

  <div class="small-2 columns prize well">
    <div class="name">
      سامسونج جالكسى جراند
    </div>
    <div class="image">
      <%=image_tag("samsung.png")%>
    </div>
    <div class="points">
      2000 نقطة
    </div>
    <% if @user.score >= 2000
         can_claim= true
       else
         can_claim = false
       end%>
    <div class="claim">
      <a href="#" class="button <%=can_claim ? 'success' : 'alert disabled'%>" data-reveal-id="<%=can_claim ? 'claimModal' : 'noClaimModal'%>">استلم هديتك</a>
    </div>
  </div>

  <div class="small-2 columns prize well">
    <div class="name">
      ال جى نيكسس
    </div>
    <div class="image">
      <%=image_tag("nexus.png")%>
    </div>
    <div class="points">
      5000 نقطة
    </div>
    <% if @user.score >= 5000
         can_claim= true
       else
         can_claim = false
       end%>
    <div class="claim">
      <a href="#" class="button <%=can_claim ? 'success' : 'alert disabled'%>" data-reveal-id="<%=can_claim ? 'claimModal' : 'noClaimModal'%>">استلم هديتك</a>
    </div>
  </div>
</div>
</div>